body{
	background-color: #f2f2f2;
	box-sizing: border-box;
	padding-top: 65px;
}

/*---------导航栏-----------*/
.pub-leftArrow{
	width: 13%;
	font-size: 1.5rem;
	top: 42%;
	left: 6%;
	color: #fff;
}
.pub-leftArrow>img{
	position: absolute;
	width: 30%;
	top: 25%;
	left: 66%;
}
.pub-nav>p{
	left: 42%;
	top: 36%;
}
.pub-sign{
	width: 5.8%;
	top: 40%;
	right: 7%;
}
/*---------导航栏     结束-----------*/

/*-----------    正文     ----------------*/
.index-rollWrap{
	width: 100%;
	overflow: hidden;
}
#index-rollContain{
	width: 500%;
}
.index-rollUnit{
	float: left;
	width: 20%;
}
.index-rollUnit>img{
	width: 100%;

}



/*-----------    正文    结束  ----------------*/






