/*---------导航栏    细改-----------*/
body>.pub-nav{
	background: none;
	background: linear-gradient(rgba(0,0,0,0.7),rgba(255,255,255,0));
}
.sale-navMid{
	position: absolute;
	top: 35%;
	right: 20%;
	width: 7%;
}
.pub-sign{
	position: absolute;
	top: 39%;
	right: 6%;
	width: 7.2%;
}
/*-----导航栏   细改    结束-----------*/

/*-------正文   -----------*/
.sale-bg{
	width: 100%;
	background-color: #fff;
}
.sale-bigImgContain{
	width: 100%;
}
.sale-intro{
	box-sizing: border-box;
	padding: 0 10px;
	border-bottom: 1px solid #e6e6e6;
}
.sale-intro>.title{
	font-size: 1.5rem;
	color: #141414;
	line-height: 4.4rem;
}
.sale-intro>.para{
	position: relative;
	color: #666666;
	font-size: 1.3rem;
	height: 30px;
	border-bottom: 1px solid #d9d9d9;

}
.sale-intro>.para>.priceNow{
	position: absolute;
	top: 0%;
	left: 0%;
	color: #ff3f12;
	font-size: 1.7rem;
}
.sale-intro>.para>.priceOrigin{
	position: absolute;
	top: 6%;
	left: 20%;
	text-decoration: line-through;
}
.sale-intro>.para>.saleNum{
	position: absolute;
	top: 1%;
	right: 1%;
}
.sale-intro>.date{
	position: relative;
	height: 45px;
	box-sizing: border-box;
	padding: 0 10px;
	font-size: 1.3rem;
	color: #666666;
	overflow: hidden;
}
.sale-intro>.date>p{
	line-height: 4rem;
}
.sale-intro>.date>p:nth-of-type(2){
	position: absolute;
	top: 1%;
	right: 2%;
}

.sale-detail{
	margin-top: 10px;
}
.sale-tab{
	border-bottom: 1px solid #d9d9d9;
	position: relative;
}
.sale-tab>li{
	float: left;
	width: 49%;
}
.sale-tab>li>a{
	display: block;
	text-align: center;	
	width: 100%;
	color: #595959;
	line-height: 3.5rem;
	font-size: 1.5rem;
}
.sale-tab>.bar{
	position: absolute;
	top: 92%;
	left: 16%;
	width: 16%;
	height: 3px;
	background-color: #ff3b0e;
}

/*--------- 商品详情-----------*/
.goodDetail{
	margin-top: 10px;
	box-sizing: border-box;
	padding: 0 10px;
}
.goodDetail>img{
	width: 100%;
	margin-bottom: 10px;
}
.goodDetail>p{
	font-size: 1.3rem;
	line-height: 2rem;
}
/*--------- 商品详情    结束-----------*/

/*-----------用户评价-----------------*/
.clientCom{
	background-color: #fff;
}
.clientCom>ul{
	width: 95%;
	box-sizing: border-box;
	padding: 0 10px 100px;
}
.clientCom>ul>li{
	padding: 15px 0;
	border-bottom: 1px solid #d9d9d9;
}
.clientCom>ul>li>.client{
	position: relative;
	height: 14px;
}
.clientCom>ul>li>.client>.name{
	position: absolute;
	top: 0%;
	left: 1%;
	font-size: 1.3rem;
	color: #010101;
}
.clientCom>ul>li>.client>.starContain{
	position: absolute;	
	top: 20%;
	left: 11%;
	height: 9px;
	width: 16%;
}
.starContain>img{
	float: left;
	width: 18%;
}
.clientCom .date{
	position: absolute;
	top: 10%;
	right: 0%;
	font-size: 1.3rem;
}
.clientCom .comment{
	font-size: 1.5rem;
	line-height: 3rem;
	text-indent: 0.2rem;
}


/*-----------用户评价    结束-----------------*/


/*--------广告蒙层  ---------------*/
.sale-mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 1;
}
.sale-adver{
	position: fixed;
	top: 20%;
	left: 10%;
	width: 79%;
	z-index: 1;
}

/*--------广告蒙层     结束     ---------------*/

/*---------分享页面    ----------*/
.sale-shareMask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 1;
}
.sale-share{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 250px;
	background-color: white;
	z-index: 1;
}
.sale-share>.title{
	font-size: 1.6rem;
	line-height: 5.5rem;
	text-align: center;
}
.sale-share>.mediaContain{
	width: 82.6%;
	margin: 0 auto;
	height: 90px;
}
.sale-share>.mediaContain>a{
	position: relative;	
	float: left;	
	width: 17%;
	margin-left: 22.4%;
}
.sale-share>.mediaContain>a:nth-of-type(1){
	margin-left: 0;
}
.sale-share>.mediaContain>a>img{
	width: 100%;
}
.sale-share>.mediaContain>a>p{
	position: absolute;
	top: 115%;
	left: 3%;
	width: 130%;
	color: #000;
	font-size: 1.3rem;
}
.sale-share>.mediaContain>a:nth-of-type(2)>p{
	left: -3%;
}
.sale-share>.submit{
	display: block;
	width: 82.6%;
	margin: 10px auto 0;
	font-size: 1.5rem;
	line-height: 4rem;
	background-color: #cccccc;
	border-radius: 4px;
	text-align: center;
	color: #262626;
}
/*---------分享页面   结束    ----------*/


/*-------正文   结束 -----------*/

/*----------footer   -----------*/
.sale-foot{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #f2f2f2;
	z-index: 0;
}
.sale-foot>.buyCar{
	position: absolute;
	top: 13%;
	left: 5%;
	width: 9.2%;
}
.sale-foot>.btn{
	width: 29%;
	font-size: 1.5rem;
	line-height: 3rem;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}
.sale-foot>.add{
	position: absolute;
	top: 14%;
	left: 27%;
	background-color: #ed9d2a;
}
.sale-foot>.buyNow{
	position: absolute;
	top: 14%;
	right: 7%;
	background-color: #ee3749;
}


/*----------footer   结束-----------*/
